body, html {
  height: 100%;
}

.image_container {
	float: left;
	margin: 5px;
}

.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:800px;
    height:100px;
    border:1px solid #000000;
    background:#FFFFFF;
}
.menu {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:800px;
    height:30px;
    border:1px solid #000000;
    background:#FFFFFF;
}
.pages {
    margin-left:auto;
    margin-right:auto;
    width:870px;
}
.content {
    margin-right:10px;
    width:69%;
    height:100%;
    background:#FFFFFF;
    float:left;
}
.sidebar {
    width:20%;
    height:100%;
    margin-right: 5%;
	background-color:#eff4f6;
    float:left;   
}

.foot {
    clear:both;
}
.footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:50px;
    border:1px solid #000000;
    background:#FFFFFF;
}