.feedlist {
    width: 70%;
	margin: 20px;
}

.feedlist h2 {
    font: 200 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 5;
    padding: 20;
}

.feedlist ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
}

.feedlist li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 5;
    border-bottom: 1px solid #ccc;
}

.feedlist li:last-child {
    border: none;
}

.feedlist li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 70%;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.feedlist li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}